body {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
  margin: 0;
}

h2 {
  margin-bottom: 15px;
}

h4 {
  font-family: Shrikhand;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-family: Roboto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  #container {
    max-width: 767px;
    width: 100%;
  }
}

#container__restaurant {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #EAEAEA;
}

header {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-bottom: solid 2px gray;
  background-color: #fff;
}

#arrow {
  position: relative;
  top: 10px;
  right: 39%;
}

#location {
  text-align: center;
}
#location__search {
  display: flex;
  justify-content: center;
  background-color: #b5b3b3;
  padding: 10px;
}
#location__text {
  background-color: #e8e3e3;
  padding: 35px;
}
#location__text__title {
  font-weight: bolder;
}
#location__text__p {
  margin: 20px;
}

input {
  border: none;
  background-color: #b5b3b3;
  margin-left: 10px;
}

footer {
  padding: 15px;
  background-color: #353535;
  color: #fff;
}
footer h4 {
  padding-bottom: 10px;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 5px;
}
footer ul li .fas {
  width: 30px;
}

button {
  border-radius: 25px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 12px;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: brightness(1.08);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  margin-bottom: -1px;
  color: #269E80;
  background-color: #99E2D0;
  margin: 15px;
  width: 70px;
  height: 30px;
  padding: 5px;
  z-index: 0;
}
.item__card {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.item__card__image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.item__card__caption {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.item__card__caption__like {
  position: relative;
  width: 30px;
  height: 30px;
}
.item__card__caption__like__heart {
  position: absolute;
  width: 100%;
  height: 100%;
}

.empty {
  margin-top: -10px;
}

.full {
  margin-bottom: -19px;
}

.pink {
  background: linear-gradient(to left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  font-weight: bold;
}
.pink:hover {
  animation: filling 0.5s forwards;
}

@keyframes filling {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: loader 0.5s ease-in-out 3s forwards;
}
.loader__circle1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(#9356DC, #FF79DA, #99E2D0);
  animation: spinner 3s infinite;
}
.loader__circle1__circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 100;
  }
  30% {
    opacity: 1;
    z-index: 100;
  }
  90% {
    opacity: 0.5;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opcaity: 0;
  }
}
.howto {
  padding: 30px 10px;
}
.howto__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.howto__container__item {
  background-color: #e8e3e3;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
}
.howto__container__item:hover {
  background-color: #F5EDFF;
  color: #9356DC;
  cursor: pointer;
}
.howto__container__item__number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -19%;
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
}

.restaurants {
  padding: 20px 10px 50px 10px;
  background-color: #F6F6F6;
}
.restaurants__container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

#photo {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  z-index: 1;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 2;
  border-radius: 25px 25px 0 0;
  background: #EAEAEA;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
  justify-content: space-around;
}
.menu__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: small;
}
.menu__item__title {
  text-transform: uppercase;
  font-size: small;
  padding: 5px;
  border-color: #F5EDFF;
}
.menu__item__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.underline {
  content: "";
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  position: relative;
  bottom: 15px;
  left: 4px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.course:hover {
  cursor: pointer;
}
.course:hover > .checked {
  animation: select 2s forwards;
}
.course:hover > .checked .wrap {
  transition: rotate 2s forwards;
}
.course__item {
  width: 80%;
}
.course__item__description__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 2px;
}
.course__item__description__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 2px;
}
.course__price {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
}
.course__check {
  background-color: #99E2D0;
  height: 60px;
  width: 60px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  margin-right: -65px;
  margin-top: -10px;
}
.course__check__wrap {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #99E2D0;
}

.course:nth-child(1) {
  animation-delay: 0s;
}

.course:nth-child(2) {
  animation-delay: 0.5s;
}

.course:nth-child(3) {
  animation-delay: 1s;
}

.course:nth-child(4) {
  animation-delay: 1.5s;
}

#order {
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
}
#order__btn {
  padding: 10px 30px 10px 30px;
}

@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes select {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(-55px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
