*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: $font-main;
}

#container{
    @media screen and (max-width: $smartphone){
        max-width: $smartphone;
        width:100%;
    }
}
#container__restaurant{
            background-color: $gray-medium;
        }
