header{
    display: flex;
    justify-content: center;
    padding : 5px;
    border-bottom: solid 2px gray;
    background-color: $white;
}

#arrow{
    position: absolute;
    top: 15px;
    left: 15px;

}