button{
    border-radius: 25px;
    background-image: linear-gradient($color-secondary, $color-primary);
    padding: 12px;
    font-family: inherit;
    font-weight: bold;
    color: $white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        filter: brightness(1.08);
    }
}