
.loader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    animation: loader 0.5s ease-in-out 3s forwards;
    &__circle1{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 5px;
        background: linear-gradient($color-primary, $color-secondary, $color-tertiary);
        animation: spinner 3s infinite;
        &__circle2{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: $white;
        }
    }
}

@keyframes loader{
    0%{
        opacity: 1;
        z-index: 100;
    }
    30%{
        opacity: 1;
        z-index: 100;
    }
    90%{
        opacity: 0.5;
        z-index: 100;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spinner{
    from{
        transform: rotate(0deg);
        opacity: 1;
    }
    to{
        transform: rotate(360deg);
        opcaity: 0;
    }
}

.howto{
    padding: 30px 10px;
    &__container{
        @include flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        &__item{
            background-color: #e8e3e3;
            width: 250px;
            display: flex; 
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            margin: 25px;
            padding: 15px;
            border-radius: 15px;
            &:hover{
                background-color: $colo-hover;
                color: $color-primary;
                cursor: pointer;
            }
            &__number{
                display: flex;
                justify-content:center;
                align-items: center;
                margin-left: -19%;
                background-color: $color-primary;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                color: $white;
            }
        }
    }
}

.restaurants{ 
    padding: 20px 10px 50px 10px;
    background-color: $gray-light;
    &__container{
        @include flex;
        gap: 15px;
        justify-content: space-around;
    }
}