#photo{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
}

#title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 25px 25px 0 0;
    background-color: $gray-medium;
    position: relative;
    top: -45px;
}

.menu{
    @include flex;
    gap: 10px;
    margin: 15px;
    justify-content: space-around;
    &__item{
        @include flex;
        flex-direction: column;
        font-size: small;
        &__title{
            text-transform: uppercase;
            font-size: small;
            padding: 5px;
            border-color: $color-hover;
        }
        &__container{
            @include flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.underline{
    content: "";
    background-color: $color-tertiary;
    width: 40px;
    height: 3px;
    position: relative;
    bottom : 15px;
    left: 4px;
}

.course{
    display: flex;
    justify-content: space-between;
    //align-items: center;
    background-color: $white;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    overflow: hidden;
    &:hover{  
        cursor: pointer;  
    }
    &:hover > &__check{
        animation: select 2s forwards;
    }
    &:hover > &__price{
        animation: move 1.5s forwards;
    }
    &:hover > &__description{
        animation: reduce 2s forwards;
    }
    &:hover .fas{
        animation: turn 2s forwards;
    } 
    &__description{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80%;
        max-width: 300px;
        &__title{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            padding: 2px;
        }
        &__text{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            padding: 2px;
        }    
    }   
    &__price{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: flex-end;
        justify-content: flex-end;
        font-weight: bold;
    }
    &__check{
        background-color: $color-tertiary;;
        height: 35px;
        width: 35px;  
        display: flex;
        justify-content: center;
        align-items: center;  
        color: $white;
        padding: 13px 10px;
        margin-right: -70px;
        margin-top: -10px;
        opacity: 0;
    }
}

.course:nth-child(1) {animation-delay: 0.0s; }
.course:nth-child(2) {animation-delay: 0.5s; }
.course:nth-child(3) {animation-delay: 1.0s; }
.course:nth-child(4) {animation-delay: 1.5s; }

#order{
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0;
    &__btn{
        padding: 10px 30px 10px 30px;
    }
}

@keyframes appear { 
    from{   
        transform: translateY(20px); 
        opacity:0 
    } 
    to{ 
        opacity:1 
    }
}

@keyframes select {
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{ 
        transform: translateX(-60px);
        opacity:1;
       }
}

@keyframes turn{
    0%{
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes reduce {
    0%{
    }

    100%{ 
        max-width:180px;
       }
}

@keyframes move {
    0%{
    }
    100%{ 
        transform: translateX(-20px);
       }
}