body{
    font-family: $font-main;
}
h1{
    font-family: $font-title;
    margin: 0;
}
h2{
    margin-bottom: 15px;
}
h4{
    font-family: $font-title;
}
a{
    text-decoration: none;
    color: inherit;        
}

