$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #fff;

$gray-light:#F6F6F6;
$gray-medium:#EAEAEA;
$gray-dark:#353535;

$color-text: #413F3F;
$color-text-new: #269E80;
$color-hover: #F5EDFF;

$font-title: Shrikhand;
$font-main: Roboto;

$smartphone: 767px;
